<%= form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Create New Person</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :alias, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :alias, :class => 'text_field span5' %><br/>
      This person's profile page: http://cmuchimps.org/<b id="alias">ALIAS</b>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :emaildisplay, 'Email Display', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :emaildisplay, :class => 'text_field span5' %><br/>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :position, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :position, Person::POSITIONS, :class => 'text_field span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :avatar, :class => 'text_field span5' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', people_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>



<% content_for :sb do %>
	<h2>Formatting your description</h2>
	
	<%= render :partial => "layouts/textile_examples" %>
<% end %>

<% content_for :js do %>
<script type="text/javascript">
	$(document).ready(function() {
		var value = $("#person_alias").val();

    if (value.length > 0) {
			$("#alias").html(value);
    }
	});
	
	$("#person_alias").keyup(function() {
		var value = $(this).val();
		$("#alias").html(value);
  });
</script>
<% end %>
