<% content_for :title do %>People<% end %>

<% Person::POSITIONS.each do |position| %>
	<% next unless @people_by_position.has_key?(position) %>
	
  <div class="row">
    <h2 id="<%= position.parameterize %>"><%= position %></h2>
  </div>
    
    <% @people_by_position[position].each_slice(4) do |three| %>
      <div class="row">
        <% three.each do |person| %>
          <div class="span2">
            <div class="person_image">
              <%= link_to (image_tag person.avatar.url(:thumb)), person %>
            </div>
            <div class="person_link">
              <%= link_to person.name, person %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

	<% reset_cycle("columns") %>
<% end %>

<% content_for :sb do %>
	<% if authorized? %>
		<h2>Actions</h2>
		<p>
			<%= link_to 'New person', new_person_path %>
		</p>
	<% end %>

	<h2>Positions</h2>
	<ul class="bulletless">
		<% Person::POSITIONS.each do |position| %>
			<li><%= link_to position, :anchor => position.parameterize %></li>
		<% end %>
	</ul>
<% end %>
