<% content_for :title do %><%= @person.name %><% end %>
<div class="row">
  <div class="span2">
    <%= image_tag @person.avatar.url(:small), :width => "140px" %>
  </div>
  <div class="span5">
    <h1><%= @person.name %></h1>

    <p>
      <%= @person.position %><br/>
      <%= mail_to @person.email, @person.emaildisplay, :encode => "javascript" %><br/>
      <%= link_to @person.url, @person.url %>
    </p>
  </div>
</div>

<p><em><%= textilize(@person.description).html_safe %></em></p>

<% unless @publications.empty? %>
	<h2>Publications</h2>
  <table class="table table-striped">
    <% @publications.each do |publication| %>
      <%= render :partial => "publications/listing", 
          :locals => {
            :publication => publication,
            :people => Person.all
          } %>
    <% end %>
  </table>
<% end %>

<% unless @posts.empty? %>
	<h2>Posts</h2>
  <% @posts.each do |post| %>
    <%= render :partial => "posts/listing", :locals => { :post => post } %>
  <% end %>
<% end %>

<% content_for :sb do %>
	<% if authorized? %>
		<h2>Actions</h2>
		<p>
			<%= link_to 'Edit', edit_person_path(@person) %> <span class="pipe">|</span>
			<%= link_to 'Destroy', @person, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	<% end %>
<% end %>
