<tr>
  <td><%= link_to publication.title, publication, :class => "_title" %></td>
  <td><%= link_to_authors(publication.authors_list, people).html_safe %></td>
  <td><%=h publication.venue_name %>, <%=h publication.year %> </td>
  <td><%= publication.kind %></td>
  <td>
    <% if publication.pdf.exists? %>
      <%= link_to "<i class=\"icon-file\"></i>".html_safe, publication.pdf.url %>
    <% end %>
  </td>
</tr>
