<% if authorized? %>

	<p>
		You're currently logged in as admin.
		<%= link_to "Sign out.", logout_path %>
	</p>

<% else %>

	<h1>Sign In</h1>

	<% form_tag(:controller => "home", :action => "authenticate") do %>
		<div class="span-4">
			<%= label_tag :password, "Admin Password" %>
		</div>
		<div class="span-12 last">
			<%= password_field_tag :password, nil, :class => "text" %>
		</div>
		<hr class="space" />
		<div class="prepend-4 span-12 last">
			<%= submit_tag "Sign In" %>
		</div>
	<% end %>
	
<% end %>

<% content_for :sb do %>
	<%= render_page("login-sb") %>
<% end %>