<% if authorized? %>

	<p>
		You're currently logged in as admin.
		<%= link_to "Sign out.", logout_path %>
	</p>

<% else %>

  <h2>Sign In</h2>
	<%= form_tag(:controller => "home", :action => "authenticate") do %>
    <%= password_field_tag :password, nil, :class => "pull-left password_field", :placeholder => 'Enter Admin Password...' %>
    <%= submit_tag "Go &raquo;".html_safe, :class => "btn btn-warning" %>
	<% end %>
	
<% end %>

<% content_for :sb do %>
	<%= render_page("login-sb").html_safe %>
<% end %>
