<%= form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Create New Page</legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span5' %>
        <p class="small" style="margin-bottom:0">
          This is the title that appears at the top of the window.
        </p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :permalink, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :permalink, :class => 'text_field span5' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area span5' %>
      </div>
    </div>

    <% @pages = Page.find :all %>
    <% unless @pages.empty? %>
      <div class="control-group">
        <%= f.label :sidebar_id, "Sidebar", :class => 'control-label' %>
        <div class="controls">
            <%= f.select :sidebar_id, @pages.map { |p| [p.permalink, p.id] }, { :include_blank => true } %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', pages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
