<h1>Pages</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.id %></td>
        <td><%= link_to page.title, page_path(page) %></td>
        <td><%= page.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_page_path(page), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', page_path(page), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sb do %>
	<% if authorized? %>
		<h2>Actions</h2>
		<p>
			<%= link_to 'New Page', new_page_path %>
		</p>
	<% end %>
<% end %>
