<h1>Editing venue_name</h1>

<% form_for(@venue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :publications_count %><br />
    <%= f.text_field :publications_count %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @venue %> |
<%= link_to 'Back', venue_names_path %>