<!DOCTYPE html>
<!--
 * CHIMPS Lab @ HCII, CMU
 * Design by Sauvik Das, 2011
-->
<html>
<head>
	<!-- Facebook Comments Application ID -->
	<meta property="fb:app_id" content="148223135240277" />
	
	<title><%= (str = yield :title) ? "#{str} - " : "" %>CHIMPS Lab @ HCII, CMU</title>
	<!-- Blueprint -->
	<link rel="stylesheet" href="/stylesheets/cw20gw20cc24/screen.css" type="text/css" media="screen, projection"  />
	<link rel="stylesheet" href="/stylesheets/cw20gw20cc24/print.css" type="text/css" media="print" />    
	<!--[if IE]><link rel="stylesheet" href="/stylesheets/cw20gw20cc24/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	
	<%= stylesheet_link_tag 'chimpslab/main' %>
	
	<% if request.env["RAILS_ENV"] == "production" %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" type="text/javascript"></script>
	<% else %>
		<script src="/javascripts/jquery-1.5.js" type="text/javascript"></script>
	<% end %>
	
	<%= yield :head %>
</head>
<body>
	
<!-- Header -->
<div id="hd" class="container container_wrap">
	<!-- User Nav -->
	<div class="nav span-6 last">
	</div>
	
	<a id="chimpslab_logo" class="logo" href="/" title="CHIMPS Lab">
		<h1>CHIMPSLab</h1>
		<img src="/images/v1/hd_logo_chimps.png" />
		<img src="/images/v1/hd_logo_chimps_on.png" class="_on" />
	</a>
	
	<a id="hcii_logo" class="logo" href="http://www.hcii.cmu.edu/" title="Human-Computer Interaction Institute" target="_blank">
		<h1>Human-Computer Interaction Institute</h1>
		<img src="/images/v1/hd_logo_chimps.png" />
		<img src="/images/v1/hd_logo_chimps_on.png" class="_on" />
	</a>
	
	<a id="cmu_logo" class="logo" href="http://www.cmu.edu/" title="Carnegie Mellon University" target="_blank">
		<h1>Carnegie Mellon University</h1>
		<img src="/images/v1/hd_logo_chimps.png" />
		<img src="/images/v1/hd_logo_chimps_on.png" class="_on" />
	</a>
</div>

<div id="mainnav" class="container container_wrap">
	<ul>
		<li><%= link_to "Home", root_path, :class => ((controller_name == "home" or controller_name == "pages") ? "selected" : nil) %></li>
		<li><%= link_to "Blog", posts_path, :class => (controller_name == "posts" ? "selected" : nil)  %></li>
		<li><%= link_to "People", people_path, :class => (controller_name == "people" ? "selected" : nil)  %></li>
		<li><%= link_to "Publications", publications_path, :class => (controller_name == "publications" ? "selected" : nil)  %></li>
		<% if authorized? %>
			<li class="admin">
				<%= link_to "Admin", admin_path, :class => "selected" %>
				<ul>
					<li><%= link_to "Pages", pages_path %></li>
					<li><%= link_to "Venues", venues_path %></li>
					<li><%= link_to "Logout", logout_path %></li>
				</ul>
			</li>
		<% end %>
	</ul>
</div>

<!-- Flash Notice -->
<% if flash[:notice] %>
	<div id="flash" class="container container_wrap">
		<div class="span-18">
			<%= flash[:notice] %>
		</div>
		<div class="span-6 last">
			<a href="#" id="close_flash">&times;</a>
		</div>
	</div>
	<script type="text/javascript">
		$("#close_flash").click(function(e) {
			e.preventDefault();
			$('#flash').slideUp("normal");
		});
		
		$(document).ready(function() {
			setTimeout(function() {
				$('#flash').slideUp("normal");
			}, 5000);
		});
	</script>
<% end %>

<!-- Body and Sidebar -->

<div id="content_background" class="container container_wrap container_with_sb_bg"></div>
<div id="content" class="container container_wrap container_with_sb">
	<div id="bd" class="span-18">
		<%= yield %>
	</div>
	<div class="sb span-6 last">
		<div style="padding-left:20px;">
			<%= yield :sb %>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var cont = $("#content");
    var cont_bg = $("#content_background");
    $(cont_bg).height(cont.height());
    $(cont_bg).width(cont.width());
    $(cont).offset($(cont_bg).offset());
    $(cont_bg).css("z-index",0);
    var ftoff = $("#ft").offset();
    $("#ft").offset({ top: (ftoff.top-$(cont).height()-40), left: ftoff.left}); //margin is 40 px for some reason. Not really sure where this is specified in the CSS, so it shall be a magic number for now
});
</script>

<!-- Footer -->
<div id="ft" class="container container_wrap">
	<div class="span-12">
		<%= link_to "Home", root_url %> <span class="pipe">|</span>
		<%= link_to "Blog", posts_url %> <span class="pipe">|</span>
		<%= link_to "People", people_url %> <span class="pipe">|</span>
		<%= link_to "Publications", publications_url %>
	</div>
	<div class="span-12 last" style="text-align:right">
		&copy; <%= Date.today.strftime("%Y") %> 
		<%= link_to "CHIMPS Lab @ HCII, CMU", root_url %>.
		All rights reserved.
		<span class="pipe">|</span>
		
		<% if authorized? %>
			<%= link_to 'Logout', logout_path %>
		<% else %>
			<%= link_to 'Login', login_path %>
		<% end %>
	</div>
</div>

<hr class="doublespace" />

<!-- Javascripts -->
<%= yield :js %>

<!-- Analytics -->
<%= render :partial => "layouts/analytics" %>

</body>
</html>
